* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

body {
  padding: 20px;
}

.counter {
  display: flex;
  margin: 15px 0;
}

.counter span{
  margin: auto 0;
  min-width: 180px;
}

.counter_btn_block{
  display: flex;
  gap: 8px;
  margin-left: 10px;
}

.counter_btn{
  color: dodgerblue;
  background: transparent;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: .3s;
}
.counter_btn:hover{
  background-color: #d0e3ff;
}

.counters{
  display: flex;
  flex-direction: column;
}

.form_Product{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 5px;
  gap: 10px;
}
.form_Product div{
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.product_inp{
  border: .1pt solid #000d2d;
  border-radius: 5px;
  padding: 5px 15px;
  width: 70%;
}
.product_add{
  color: white;
  cursor: pointer;
  padding: 5px;
  background-color: #5959ff;
  width: 30%;
  border: none;
  border-radius: 5px;
}

.form_Product ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  border: .1pt solid gray;
  margin: 0;
  padding: 0;
}

.form_Product ul li{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  border-bottom: .1pt solid #b0b0b0;
  padding: 10px 15px;
}

.form_Product ul li span{
  margin: auto 0;
}
.product_del{
  background: transparent;
  border: .1pt solid red;
  color: red;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: .1s;
}

.product_del:hover{
  background: red;
  color: white;
}

.myTable{
  border: .1pt solid #818181;
  min-width: 500px;
  text-align: left;
  font-size: 20px;
  border-spacing: 0;
}
.myTable tr:first-child{
  background-color: #6be89f;
}

.myTable tr:last-child{
  background-color: #c2d3ff;
}
.myTable tr td, th{

  margin: 0;
  padding: 10px;
}

.game {
  border: 1px solid #727272;
  max-width: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.game_btn{
  display: flex;
  gap: 5px;
}
.game_btn button{
  padding: 1px 3px;
}
.game_ul{
  display: flex;
  flex-direction: column;

  max-width: 200px;
  background-color: #ffbe48;
  border: 1px solid orange;
  padding: 10px;
}
.game_ul li{
  display: flex;
  list-style-type: none;
  width: 100%;
}