*{
  margin: 0;
  padding: 0;
}

body{
  padding: 20px;
}

.App {
  max-width: 1000px;
  margin-left: 260px;
}

@media (prefers-reduced-motion: no-preference) {
  .loading img {
    animation: Loading-spin infinite 8s linear;
  }
}

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.setting {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 240px;
  padding: 10px;
  gap: 10px;
  justify-content: flex-start;
  border-right: 1px solid #0c6cff;
  height: 100%;
  background-color: rgb(243, 245, 255);
}

.setting_search{
  padding: 5px;
  font-size: 14px;
}

.setting_inp{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
}

.setting_inp input{
  max-width: 35%;
  padding: 10px;
}

.setting_s select{
  width: 100%;
  padding: 10px;
}

.photo{
  display: flex;
  border-bottom: .1pt solid rgba(128, 128, 128, 0.49);
}

.photo_a{
  margin: auto 10px;
}
.photo_a img{
  max-width: 40px;
  border-radius: 50%;
}
.photo_title{
  display: flex;
  margin: auto 0;
  font-size: 20px;
}


.num_page{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 350px;
  border-top: 1px solid #0c6cff;
  padding: 3px;
}
.span_P{
  display: block;
  padding: 5px 3px 3px 2px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #6ea7ff;
  color: white;
  font-family: "Roboto Light";
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  border: .1pt solid #6ea7ff;
}

.span_R{
  background-color: #ffffff;
  border: .1pt solid #6ea7ff;
  color: #6ea7ff;
}

.img{
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  .link{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
}
