* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  &:is(:focus, :active) {
    outline: none;
  }
}

body {
  padding: 15px;
}

.App {
  display: flex;
  justify-content: center;
}

.productsApp {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  width: 100%;

  form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #383838;

    padding: 3px 3px 20px;
    gap: 16px;

    input:is(:focus, :active),
    input {
      border: .1pt solid black;
      border-radius: 3px;
    }

    input[type='text'] {
      padding: 5px 10px;
      width: 100%;
    }

    input[type='submit'] {
      padding: 5px 10px;
      cursor: pointer;
      background-color: transparent;
    }
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .product {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border-bottom: 1px dashed #383838;
      align-items: center;

      button {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid red;
        color: red;
        cursor: pointer;
        width: 10%;
        transition: .2s;
        overflow: hidden;
        background-color: transparent;

        &:hover {
          width: 20%;

          &:after {
            content: 'ete';
          }
        }
      }
    }
  }
}

.item-enter {
  opacity: .5;
  transform: translateX(-50px);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all .3s cubic-bezier(0, 2, 1, 1);
}

.item-exit {
  transform: translateX(0);
}

.item-exit-active {
  transform: translateX(50px);
  opacity: 0;
  transition: all .3s ease-in;
}