.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 1px solid #000000;
  /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th {
  border: 1px solid #000000;
}

td {
  border: 1px solid #000000;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 3px;
  max-width: 120px;
  width: 120px;
  min-height: 100px;
  border: 1pt solid black;

}

.allItem {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
