* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  outline: none;

  font-family: Calibri, sans-serif;
}

body {
  min-width: 300px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

form {
  box-shadow: 1px 1px 5px #414141;
  width: 100%;
  max-width: 500px;
}
.pad {
  display: flex;
  flex-direction: column;

  width: 100%;

  font-size: 18px;
  gap: 10px;
  padding: 15px;
  //border: 1px solid #282828;

  input:is(:focus, :active), textarea:is(:focus, :active),
  input, textarea {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #464646;
    background: transparent;
  }

  textarea {
    min-height: 100px;
    overflow: auto;

  }

  button:is(:focus, :active),
  button {
    width: 100%;
    padding: 5px;
    background: transparent;
    border: 1px solid #575757;
  }

  span {
    color: #575757;
    font-size: 12px;
    font-style: italic;
  }
}

.button-block {
  max-width: 150px;
}

.form_line2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  width: 100%;
  font-size: 14px;
  align-items: center;

  .sd {
    max-width: 40%;
    width: 100%;
  }

  input {
    max-width: 50px;
  }
  input[type="checkbox"] {
    max-width: 20px;
  }
}

.asa {
  display: flex;
  justify-content: space-between;
}

.form_line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px dashed #afafaf;

  .form_line_gap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
}

.decor {
  text-decoration: underline;
  font-size: 10px;
  cursor: pointer;
  font-style: normal;
  color: black;
}

.form_line_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;

  span, input {
    max-width: 50px;
    font-size: 14px;
  }

  input:is(:focus, :active),
  input {
    padding: 5px;
    border: 1px solid #464646;
  }

  span {
    color: black;
    font-size: 8px;
    line-height: 0.9em;
  }

  .plus {
    display: flex;
    flex-wrap: nowrap;
    font-size: 13px;
    color: gray;
    gap: 2px;
    align-items: center;

    div {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      cursor: pointer;
      color: white;
      width: 15px;
      height: 15px;
      text-align: center;
      background: rgba(0, 0, 0, 0.77);
      border-radius: 10%;
      font-size: 11px;
    }
  }
}

.input_small {
  max-width: 50px;
}

.form2_btn {
  background-color: #ff6262;
  padding: 10px;
  display: flex;

  input:is(:focus, :active),
  input {
    background-color: white;
    border: none;
    box-shadow: 1px 1px 1px #464646;
    border-radius: 5px;
    cursor: pointer;
    max-width: 140px;
    width: 100%;
  }

  span {
    color: white;
  }

  .form2_50 {
    position: relative;
    display: flex;
    left: 50%;
    transform: translateX(-40%);
    gap: 30px;
    align-items: center;
    width: 50%;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0.6;
}